 @font-face {
            font-family: idroid;
            src: url(fontes/idroid.otf);}

            @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');




/* cores
#c5edbd6
#83e1ad
#3ddc84
#2fa866
#1a5c37
#063d1e
*/

:root{
   
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --font-padrao: arial, helvetica, sans-serif;
    --font1:  "Bebas Neue", serif;
    --font2:  "idroid", serif;

}

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: var(--cor1);
    font-family: var(--font-padrao);
    background-color: rgba(194, 204, 121, 0.552);
}

.externo::after{
 content: '\1f517';
}

header{
    background-image:linear-gradient(to bottom, #2fa866, #1a5c37, #063d1e);
    color: white;
    height: 150px;
    padding-top: 40px;
}

header > h1{
    font-family: var(--font1);
    margin-bottom: 20px;
    margin: auto;
    font-size: 2.5em;
   text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.738);
   
}

header > p{
    text-align: center;
    font-family: var(--font1);
    font-size: 1.2em;
    max-width: 500px;
    margin: 20px auto;
     text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.738);
}

nav{
    background-color: var(--cor5);
    color: white;
    padding: 10px;
    box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.526);
}

nav > a{
    color: var(--cor1);
    text-decoration: none;
    padding: 10px;
    font-weight: bold;
    transition-duration: 1s;
}

nav > a:hover{

    background-color: #3ddc84;
    color: #063d1e;
    border-radius: 5px;
}

h1{
    text-align: center;
}

p{
    text-align: center;
    text-indent: 2em;
    text-align: justify;
}

main{
    background-color: white;
    max-width: 1000px;
    min-width: 300px;
    margin: auto;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.574) ;
    margin-bottom: 30px;
    border-bottom-right-radius: 10px;
     border-bottom-left-radius: 10px;
     line-height: 2em;
}

main  h1{
    font-family: var(--font2);
}

main  h2{
    font-family: var(--font2);
    color: #1a5c37; 
    background-image: linear-gradient(to right, #8ee8b5, transparent); font-family: idroid;
}

main p{
    margin: 15px 0px;
}

main strong{
  color: rgb(3, 95, 3);
  font-weight: bold;
}

main a{
    text-decoration: none;
    font-weight: bold;
    color: #063d1e;
    background-color: var(--cor1);
    padding: 2px 8px
}

main a:hover{
    text-decoration: underline;
    color: #1a5c37;
}

main img.pequena{
    max-width: 350px;
    display: block;
    margin: auto;
}

img{
    width: 100%;
}

.marca{
    color: rgb(2, 88, 2);
    background-color: #8ee8b5;
    font-weight: bold;
}

aside{
    padding: 10px;
    background-color: var(--cor1);
    border-radius: 10px;
    border: 8px solid #1a5c37;
    border-radius: 10px 10px 0px 0px;
}

aside h3{
    background-color: var(--cor4);
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
   
}

aside ul{
    list-style-position: inside;
    columns: 2;
    list-style-type: '\2714\00A0\00A0';
}

footer{
    background-color: var(--cor5);
    color: white;
text-align: center;
font-size: 0.8;
padding: 5px;

}

footer a{
    color: white;
    font-weight: bold;
   text-decoration: none;
}

footer a:hover{
    text-decoration: underline;
    color: var(--cor1);
}

.vdo{
    background-color: #063d1e;
    padding: 20px;
    margin: 0px -20px 30px -20px;
    position: relative;
    padding-bottom: 58%;
}

.vdo iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
} 